# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TensorFlow/Keras temporary files
*.h5.tmp
